* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  background-color: rgb(93, 151, 199);
  transition: 0.5s ease;
  position: relative;
}
.filed-name,
.filed-email,
.filed-password,
.filed-finish {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  height: 50px;
  width: 400px;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.filed-name i,
.filed-email i,
.filed-password i,
.filed-finish i {
  padding: 10px;
  cursor: pointer;
}
.filed-name input,
.filed-email input,
.filed-password input {
  background: none;
  border: none;
  flex: 1;
  height: 100%;
  outline: none;
}
div.innactive {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, 50%);
}
div.active {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%);
}
@keyframes shake {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
